# Tasks 1 and 2

## Imports

In [191]:
from faker import Faker
import pandas as pd
from faker.providers.credit_card import Provider as CreditCardProvider

## 1. Faker

We start by creating an empty dataframe with only the column headers.

In [192]:
# Crate dataframe
df = pd.DataFrame(columns=['name','address','ssn','credit_card_number','ipv4'])

# Print to se result
df.head()

Empty DataFrame
Columns: [name, address, ssn, credit_card_number, ipv4]
Index: []

Then we initialize faker using the Faker() function, passing it the norwegian locale.

In [193]:
fake = Faker(['no_NO'])

We then insert 100 rows, calling the apropiate faker functions for each column.

In [194]:
# Loops 100 times and add data to dataframe
for i in range(100):
    row = [fake.name(), fake.address(), fake.ssn(), fake.credit_card_number(), fake.ipv4()]
    df.loc[i] = row

# Print to se result
df.describe()

,name,address,ssn,credit_card_number,ipv4
count,100,100,100,100,100
unique,100,100,100,100,100
top,Liv-Kirsten Kristoffersen,"Haugplassen 50, 0240 Kristiansen",11056838270,3585472443298235,10.113.253.84
freq,1,1,1,1,1

Using describe() we can see from the count that each row is filled and that they are unique. And we can see from the top row that the data is correct.

## 2. Anonymization

We create an empty array to hold the data.

We then loop through the dataframe, appending the data to the array. Making sure to include sensitive data.

In [196]:
#Create a empty array
textArray = []

# Do a for loop, and assign values to name and adress
for i, row in df.iterrows():
    
    name = row[0] 
    adress = row[1]
    ssn = row[2]
    cc = row[3]
    
    #Using f string we can now create a new string with the values, and
    #append (add) that string to the text array
    textArray.append(f'Hi, my name is {name}. I wonder if you deliver to {adress}. My credi card nr is {cc} and my ssn is {ssn}')
    
    # Stop the loop after 10 iterations
    if i == 9:
        break

# Print textArray line by line to se result
for text in textArray:
    print(text)

Hi, my name is Liv-Kirsten Kristoffersen. I wonder if you deliver to Haugplassen 50, 0240 Kristiansen. My credi card nr is 3585472443298235 and my ssn is 11056838270
Hi, my name is Else Kristensen. I wonder if you deliver to Johnsenstykket 48C, 0609 Elisesund. My credi card nr is 3536960962334142 and my ssn is 29034718928
Hi, my name is Liv Pettersen. I wonder if you deliver to Isaksenrøa 92, 2059 Halvorsen. My credi card nr is 3592648542034909 and my ssn is 09034740183
Hi, my name is Aud Lie. I wonder if you deliver to Birkelandtunet 784, 4361 Nielsen. My credi card nr is 4222978977086 and my ssn is 17118006526
Hi, my name is Åse Kristoffersen. I wonder if you deliver to Jakobsenhaugen 68A, 8912 Martesand. My credi card nr is 213191263810442 and my ssn is 27059324352
Hi, my name is Grete Andersen. I wonder if you deliver to Hagensvingen 75B, 1124 Jonøy. My credi card nr is 3579361879211135 and my ssn is 24085411213
Hi, my name is Karl Madsen. I wonder if you deliver to Pettersentoppen 4, 2859 Christianhavn. My credi card nr is 2271135813315621 and my ssn is 27054043339
Hi, my name is Trond Abrahamsen. I wonder if you deliver to Karlsensvingen 38, 6447 Evensen. My credi card nr is 345459206125843 and my ssn is 03033711793
Hi, my name is Ingrid Karlsen. I wonder if you deliver to Jakobsenberget 6, 7333 Gundersen. My credi card nr is 4646685420552523 and my ssn is 06017637337
Hi, my name is Geir Tangen. I wonder if you deliver to Evensentunet 4, 6630 Thomassen. My credi card nr is 4253599376655 and my ssn is 14015648059

The rest of the this task is skipped because of issues with spacy